@import '../../style/shared.scss';

.PeriodicTable {
    padding:3rem;
    margin: 0 auto;
    max-width:1280px;


    .table {
        display: grid;
        grid-template-columns: repeat(18, minmax(50px, 1fr));
        grid-gap: 0.3rem;
    }
    .mainTable {
        .white-space-1 {
            grid-column: 2 / 9;
            grid-row: 1;
        }
        .type-of{
            grid-column: 13/ 18;
            grid-row:1;
            display:grid;
            justify-items: center;
            align-items: center;
            color:white;
            font-size:2.3rem;
            text-transform: capitalize;
        }
        .Legend{
            grid-column: 9/ 13;
            grid-row: 1/ 4;
        }
        .DetailedElement{
            grid-column: 3/ 9;
            grid-row: 1 /4;
        }
        .white-space-2 {
            grid-column: 3 / 9;
            grid-row: 2;
        }
        .white-space-3 {
            grid-column: 3 / 9;
            grid-row: 3;
        }
        .detach-1 {
            grid-column: 3 / 4;
            grid-row: 6;
            background-color:#FCF5A5;
        }
        .detach-2 {
            grid-column: 3 / 4;
            grid-row: 7;
            background-color:#FBB42D;
        }
        .detach-1, .detach-2{
            display:grid;
            place-items:center center;
            color: $font-color;
            font-size:1.2rem;
        }
    }
    .secondTable {
        margin-top: 4rem;
        .white-space-1 {
            grid-column: 1 / 4;
            grid-row: 1;
        }
        .white-space-2 {
            grid-column: 1 / 4;
            grid-row: 2;
        }
    }

}