@import '../../style/shared.scss';

.DetailedElement{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,1fr);

    .main-data{
        grid-column:1/-1;
        grid-row:1;
    }
    .secondary-data{
        grid-column: 1/-1;
        grid-row:2;
    }
    .extra-data{
        grid-column:1/-1;
        grid-row:3;
    }
}